{% extends 'base.html' %}

{% block section %}
<section class="pt-3">	
	<div class="container mono">
		<h1 class="text-center"> welcome to NFTmash</h1>

		<div class="px-5 py-5 my-5">
		<p>nftmash is a game designed to create a community-driven nft ranking system based on <a target="_blank" href="https://plato.stanford.edu/entries/beauty/">subjective beauty</a>, using the same idea of <a target="_blank" href="https://en.wikipedia.org/wiki/History_of_Facebook#FaceMash">facemash</a> to choose the coolest nft from a random pair</p>

		<p>the gameplay is simple, you have to pick your favorite from 2 random nfts in only 30 seconds, then we add 1 point to the nft your pick</p>


		<p>if you have some suggestions you can dm me on <a href="https://twitter.com/cvasqxz/" target="_blank">twitter</a>, this is an alpha release</p>
	</div>
</section>

{% endblock %}